#header{
    height: 40px;
    background: #079395;
    color: #fff;
    text-align: center;
    font-size: 20px;
    line-height: 40px;
    position: relative;
}

#header i{
    position: absolute;
    left: 10px;
    width: 14px;
    height:14px;
    border-left:2px solid #fff ;
    border-bottom: 2px solid #fff;
    transform: rotate(45deg);
    top:10px;
}